*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background:#F8F6F2;
}

.hero{

    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.45),
    rgba(0,0,0,.45)),
    url("hero.jpg");

    background-size:cover;
    background-position:center;

}

.menu{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:30px 8%;

}

.logo{

    font-size:32px;

    font-weight:bold;

}

.logo span{

    color:#8DAA69;

}

.menu ul{

    display:flex;

    gap:40px;

    list-style:none;

}

.menu a{

    color:white;

    text-decoration:none;

    font-weight:600;

}

.hero-contenido{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:flex-start;

    height:80vh;

    max-width:700px;

    margin-left:8%;

}

.hero h1{

    font-size:64px;

    line-height:1.1;

    margin-bottom:25px;

}

.hero p{

    font-size:22px;

    line-height:1.6;

    margin-bottom:40px;

}

.botones{

    display:flex;

    gap:20px;

}

.btn-principal{

    background:#7E9565;

    color:white;

    padding:18px 36px;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

}

.btn-secundario{

    border:2px solid white;

    color:white;

    padding:18px 36px;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

}

section{

    color:#222;

    background:white;

    padding:100px 8%;

}

section:nth-child(even){

    background:#F8F6F2;

}
